/////////////
// GENERAL //
/////////////

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx)

  // general hidpi

/////////////
// DESKTOP //
/////////////

// @media only screen and (max-width: 1300px)

  // desktop, non-hidpi

////////////
// TABLET //
////////////

// @media only screen and (max-width: 768px)

  // tablet portrait, non-hidpi

////////////
// PHONES //
////////////

// @media only screen and (max-width:480px)

  // phone landscape, non-hidpi
