$image-grid
  no-margin()
  no-padding()
  height 100%
  background $black-default
  overflow hidden
  li
    position relative
    display block
    width 33.33%
    height 380px
    float left
    list-style-type none
    &:after
      @extend $background-spinner !optional
    a
      position relative
      display block
      height 100%
      color $gray
      background-position center center
      background-repeat none
      background-size cover
      transition all 0.5s ease
      overflow hidden
      z-index 1
      &:hover
        color $purple
      span
        position absolute
        display block
        top 0
        right 0
        padding 4px 10px 4px 10px
        background rgba($black-default, 0.8)
        font-size 14px
        transition width 1s, right 1s
  @media $desktop
    li
      width 50%
  @media $tablet
    li
      width 100%
