// JELLYBEAN COLORS <3

$white        = #D7D7D7
$gray         = #C2C2C2
$gray-dark    = #2F2F2F
$black        = #121212
$black-dark   = #151515
$blue         = #799CBF
$blue-light   = #98B9DA
$green        = #87AF5F
$green-light  = #69B2B2
$green-dark   = #5F8787
$orange       = #FFAF5F
$purple       = #A6A6DE
$purple-dark  = #8787AF
$cyan         = #69B2B2
$cyan-dark    = #5F8787
