////////////////////
// UTILITY MIXINS //
////////////////////

// MARGINS

margin-auto()
  margin 0 auto

no-margin()
  margin 0

// PADDING

no-padding()
  padding 0

// FLOATS

pull-left()
  float left

pull-right()
  float right

pull-none()
  float none
