////////////
// MIXINS //
////////////

// CLEARFIX
@import 'mixins/clearfix'

// SELECTION
@import 'mixins/selection'

// UTILITY
@import 'mixins/utility'

/////////////
// MODULES //
/////////////

// VARS :: COLORS : DEFAULTS
@import 'modules/vars/colors/defaults'

// VARS :: COLORS : THEME
@import 'modules/vars/colors/jellybeans'

// VARS :: SCREENS
@import 'modules/vars/screens'

// VARS :: TYPOGRAPHY
@import 'modules/vars/typography'

// HTML5 BOILERPLATE
@import 'modules/h5bp'

// NORMALIZE
@import 'modules/normalize'

// ANIMATIONS
@import 'modules/animations'

// DEFAULTS
@import 'modules/defaults'

// IMAGE GRID
@import 'modules/image-grid'

// LOADING BAR
@import 'modules/loading-bar'

// BACKGROUND SPINNER, extends 'modules/loading-bar'
@import 'modules/background-spinner'

// NO-JS
@import 'modules/no-js'

//////////
// MAIN //
//////////

// APP LAYOUT
// @import 'partials/layout/main'

// APP PARTIALS
// @import 'partials/about'
// @import 'partials/audio'
// @import 'partials/code'
// @import 'partials/img'
@import 'partials/folio'
